<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="index.css" />
        <link rel="icon" href="images/face.jpg" />
        <title>CV</title>
        <script src="vue.min.js"></script>
        <link rel="stylesheet" href="fonts/Font-Awesome-master/css/all.min.css" />
    </head>

    <body>

        <div id="app">

            <section class="left">

                <img src="images/face.jpg" alt="face" class="face"/>

                <div class="coordinates">
                    <h5> {{ data.coordinates.name }}</h5>
                    <div><i class="fas fa-user"></i> {{ data.coordinates.age + ", " + data.coordinates.nationnality }} </div>
                    <div><i class="fas fa-map-marker-alt"></i> {{ data.coordinates.address }} </div>
                    <div><i class="fas fa-map-marker-alt" style="visibility: hidden;"></i> {{ data.coordinates.city }} </div>
                    <div><i class="fas fa-envelope"></i> {{ data.coordinates.email }} </div>
                    <div><i class="fas fa-phone fa-flip-horizontal" style="text-align: right;"></i> {{ data.coordinates.phone }} </div>
                    <div><i class="fab fa-linkedin"></i> {{ data.coordinates.linkedin }} </div>
                    <div><i class="fab fa-github"></i> {{ data.coordinates.github }} </div>
                </div>


                <div class="objective" v-if="!data.objective.hide">
                    <h3>{{ data.objective.title }}</h3>
                    <div>{{ data.objective.content }}</div>
                </div>

                <div class="hobbies" v-if="!data.hobbies.hide">
                    <h3>{{ data.hobbies.title }}</h3>
                    <div>{{ data.hobbies.content }}</div>
                </div>

                <div class="language">
                    <h3>{{ data.languages.title }}</h3>
                    <div>
                        <div v-for="language in data.languages.data" v-if="!language.hide">{{ "- " + language.name + " (" + language.level + ")" }}</div>
                    </div>
                </div>

            </section>




            <section class="right">

                <h1>{{ data.title }}</h1>

                <h2>{{ data.education.title }}</h2>

                <div>
                    <article class="list-elt" v-for="education in data.education.data" v-if="!education.hide">
                        <div class="head">
                            <div class="title">{{ education.title }}</div>
                            <div class="date">{{ education.date }}</div>
                        </div>
                        <div class="body">
                            <div class="location">{{ education.location }}</div>
                            <div class="details">{{ education.description }}</div>
                        </div>
                    </article>
               </div>


                <h2>{{ data.experience.title }}</h2>

                <div>
                    <article class="list-elt" v-for="experience in data.experience.data" v-if="!experience.hide">
                        <div class="head">
                            <div class="date">{{ experience.date }}</div>
                        </div>
                        <div class="body">
                            <div class="title">{{ experience.title }}</div>
                            <div class="details">{{ experience.description }}</div>
                        </div>
                    </article>
               </div>



                <h2>{{ data.skills.title }}</h2>

                <article class="skills-container">
                    <span class="skill" v-for="skill in skills" :style="'--level:' + skill.level + '%'">{{ skill.name }}</span>
                </article>

                <article class="list-elt">
                    <div class="head">
                        <div class="title">{{ data.skills.os.title }}</div>
                    </div>
                    <div class="body">
                        <div class="detail">{{ data.skills.os.data.join(", ")}}</div>
                    </div>
                </article>

                <article class="list-elt">
                    <div class="head">
                        <div class="title">{{ data.skills.softwares.title }}</div>
                    </div>
                    <div class="body">
                        <div class="detail">{{ data.skills.softwares.data.join(", ")}}</div>
                    </div>
                </article>

            </section>


            <div class="translation-menu">
                <div v-for="(translation) in Object.keys(DATA)"
                    :class="{translation: true, current: currentTranslation === translation}"
                    @click="changeTranslation(translation)"
                >{{ translation }}</div>
            </div>

        </div>



        <script src="translations/data.default.js"></script>
        <script src="translations/data.fr.js"></script>
        <script src="translations/data.en.js"></script>
        <script src="translations/data.es.js"></script>
        <script src="index.js"></script>

    </body>
</html>


