
@font-face {
  font-family: "roboto-thin";
  src: url("~/assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("~/assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

:root {
  --page-width: 21cm;
  --page-height: 29.7cm;

  --default-text-light: #eee;
  --default-text-dark: #111;

  --outline: 0.1rem solid currentColor;
  --outline-offset: 0.2rem;
}

:root {
  --z-outline: 1000;
  --z-panel: 10000;
  --z-overlay: 100000;
}

*,
::before,
::after {
  box-sizing: border-box;
  box-decoration-break: clone;
  margin: 0;
  padding: 0;
  interpolate-size: allow-keywords;
}

:focus-visible,
.focus-wrapper:has(:focus-visible) {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
  z-index: var(--z-outline);
}

.focus-wrapper :focus-visible {
  outline-style: none;
}

html {
  height: 100%;
  width: 100%;
  background-color: #333;
  font-size: 1rem;
  line-height: 1.1em;
}

body {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  break-inside: avoid;
  break-after: avoid;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation-duration: 0ms !important;
    transition-duration: 0ms !important;
  }
}
